@charset "utf-8";

*{
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
    color: #fff;
}
p {
    text-align: left;
    /* font-family:  "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif; */
    font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}
h3 {
    font-family:'メイリオ', 'Meiryo','MS ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;    font-size: 24px;
}

h2,.heading{
    font-family: "Rubik Scribble", system-ui;
    color: aliceblue;
    font-weight: 400;
    font-style: normal;
   /* フォントサイズ max:70px min:35px */
    font-size: clamp(2.5rem, 1.818rem + 3.41vw, 4.375rem);
}

.text_center {
    text-align: center;
}

/* トップにもどるボタン */
#page_top{
    width: 60px;
    height: 60px;
    position: fixed;
    margin: 0 10px 10px 0;
    right: 0;
    bottom: 0;
    background: #0befeb;
    opacity: 1;
    border-radius: 50%;
    z-index: 3;
    }
  #page_top a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f062';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  /* タブレット */
  @media screen and (max-width: 768px){
    /* ホームボタン */
 
  }

  @media screen and (max-width: 479px){
    #page_top {
        width: 40px;
        height: 40px;
    }
    #page_top a{
        width: 40px;
        height: 40px;
    }
    /* トップページ */
  /* アバウト */
  #about {
    width: 100%;
    height: auto;
  }
  .about_container h2{
    text-align: center;
  }

  
  .about_container p {
    padding: 5px;
  }
  }

/* ヘッダー */
header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    
}

/* ナビゲーション */
.head_nav ul {
    display: flex;
    gap: 20px;
    margin-right: 30px;
    font-size: 20px;
  
}
.head_nav li {
    list-style: none;
}

.head_nav li a{
    text-decoration: none;
    color: white;
}
.head_nav li a:hover {
    color: yellow;
}

/* トップページ */
#hero {
    background-attachment: fixed;
}
.hero_container {
    width: 100%;
    height: 600px;
    background-attachment: fixed;

}

#hero_img  {
    position: relative;
    cursor: pointer;
}

#hero_img img {
    display: block;
   margin: 20px 30px 0 auto;
    
}

.hero_title_0 {
    position: absolute;
    top: 10%;
    left: 10%;
       /* フォントサイズ max:70px min:35px */
    font-size: clamp(2.5rem, 1.818rem + 3.41vw, 4.375rem);
    font-family: "Rubik Scribble", system-ui;
    color: aliceblue;
  font-weight: 400;
  font-style: normal;
  animation: floating-z 2s ease-in-out infinite alternate-reverse;

}
@keyframes floating-z {
    0% {
      transform: translateY(30%);
    }
    100% {
      transform: translateY(-30%);
    }
  }

.hero_title {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%,-50%);
       /* フォントサイズ max:70px min:35px */
    font-size: clamp(2.5rem, 1.818rem + 3.41vw, 4.375rem);
    font-family: "Rubik Scribble", system-ui;
    color: aliceblue;
    font-weight: 400;
    font-style: normal;
    animation: floating-y 2s ease-in-out infinite alternate-reverse;

}

  @keyframes floating-y {
    0% {
      transform: translateY(-30%);
    }
    100% {
      transform: translateY(30%);
    }
  }

 


/* アバウトページ */
#about {
    width: 100%;
    height: 500px;
    margin-top: 10%;
}


.about_container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  
}
.about_text {
     background-color: #fff;
     border-radius: 10px;
     box-shadow: 2px 2px 6px #fff;
    margin-top: 20px;
    height: 300px;
    /* background-color: bisque; */
}
.about_text dl {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: left;
}

.about_text dt {
    width: 40%;
    padding: 10px 0;
    font-size: 20px;
}

.about_text dd {
    width: 60%;
    margin-left: 0;
    padding: 10px 0;
    font-size: 20px;

}
.text_center {
    padding-top: 30px;
    font-size: 20px;
}

.text_center a {
    color: black;
    text-decoration: none;
    position: relative;
    display: inline-block;
}
/* 下線を引く */
.about_text a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0;
    height: 1px;
    background-color: black;
    transition: .3s;
}

.about_text a:hover::after {
    width: 100%;
}

.text_center a:hover {
    color: blue;

}


/* ワークス */
#works {
    width: 100%;
    height: 700px;
    margin-top: 10%;
    z-index: 1;
    /* background-color: yellowgreen; */
}

.works_container {
    margin: 0 auto;
    /* background-color: yellow; */
    text-align: center;
    z-index: 1;
}
.works_container h2 {
 margin-bottom: 50px;
}

.play_container {
    padding-top: 20px;
}
/* スリック */
.play {
    padding: 0;
    z-index: 1;
}

.play img {
    height: 300px;

}
.play div a:hover {
    background-color: aliceblue;
}

/* 矢印の表示 */
.slick-next {
    right: 0!important;
}
.slick-prev{
     left:0!important; 
}
.slick-arrow{ 
    z-index:2!important; 
}

/* 表示の変更スライダーの写真をきれいに表示してほしい時に使う*/
/* これらを書くことで無駄な余白がなくなる */
/* 要素を表示する */
.play {
    visibility: hidden;
    margin: 0;
    padding: 0;
  }
  /* 要素を非表示にする */
  /* .slick-initialized クラスの後に必ず書く */
  
  .play.slick-initialized {
    visibility: visible;
  }


/* フッター */
footer {
    /* background-color:#30abd6; */
    border-top: 2px solid #fff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10!important;
}

.footer {   
    text-align: center;
    color: #fff;
    
}
/* .footer p {
    text-align: center;
    font-size: 20px;
} */
.footer small {
    padding-top: 30px;
}

/* ここからプロフィールページ */
#profile {
    width: 100%;
    margin-bottom: 50px;
}

.profile_top{
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: auto;
}


.profile_heading {
    font-family: "Rubik Scribble", system-ui;
    color: aliceblue;
    font-weight: 400;
    font-style: normal;
    /* フォントサイズ max:100px min:50px */
    font-size: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem);
    animation: floating-p 3s ease-in-out infinite alternate-reverse;

}

@keyframes floating-p {
    0% {
      transform: translateY(10%);
    }
    100% {
      transform: translateY(30%);
    }
  }



.profile_container {
    width: 80%;
    height: 100%;
    /* background-color: rgb(237, 148, 15); */
    margin: 0 auto;
    text-align: center;
}


.profile_box {
    display: flex;
    width: 100%;
    padding-top: 30px;
}
.profile_img_box {
    flex: 1;
    z-index: 1;
}

.profile_img img {
    width: 95%;
    height: auto;
    border-radius: 10px;
 
}

.profile_list {
    flex: 1;
    width: 400px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 4px yellow;
}

.profile_title {
    line-height: 2.0;
}
.profile_title h3 {
    text-align: left;
    font-weight: normal;
    font-size: 30px;
    margin: 0 10px;
}

.profile_text {
    font-size: 16px;
    padding: 30px 0 0 10px;
  
}



/* ここからスキル */
#skill {
    width: 100%;
    margin-bottom: 50px;
    background-color: bisque;
}

.skill_container {
    text-align: center;
}

.skill_box {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill_list {
    max-width: 350px;
    height: 350px;
    margin: 30px;
    line-height: 2;
    background-color: #fff;
    border-radius: 10px;
}
.skill_title p{
    background-color: #0befeb;
    margin: 20px 35px;
}


/* ここから強み */
#strong {
    width: 100%;
    height: auto;
}

.strong_container {
    /* width: 100%; */
    /* height: 600px; */
    text-align: center;
    /* background-color: aqua; */
}
.strong_box {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.strong_list {
    padding-top: 50px;
 
}
.strong_title {
    width: 350px;
    height: 350px;
    margin:  30px ;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}
.strong_title h4 {
    font-size: 20px;
}

.strong_title p {
    margin: 20px;
    line-height: 2;
}
.strong_text {
    background-color: #fff;
}



/* フェードイン */
.js-fade {
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: opacity 3s,visibility 3s, transform 3s;
}

.scroll {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

/* // 左からフェードイン */
.js-fadeleft {
    opacity: 0;
    visibility: hidden;
    transform: translateX(80px);
    transition: opacity 1s,visibility 1s, transform 1s;
}
.js-fadeleft.scroll {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}


/* // 右からフェードイン */
.js-faderight {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-80px);
    transition: opacity 1s,visibility 1s, transform 1s;
}
.js-faderight.scroll {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}

@media screen and (max-width: 768px){
    /* ホームボタン */
    .profile_box {
    display: block!important;
    }
    .profile_container {
        height: auto;
    }
    .profile_list {
        width: 100%;
        height: auto;
        line-height: 1;
        padding: 10px;
        margin-top: 10px;
    }
    .profile_list h3 {
        margin: 0;
    }
    .profile_list p {
        padding: 0;
    }
    .skill_box , .strong_box  {
        display: block;
    }
    .skill_list ,.strong_title {
        margin: 30px auto;
    }
   
  }

  @media screen and (max-width: 479px){
   /* スキル */
   

  }